<article id="editaccount" class=" form-horizontal">
    <section id="accountSettings">
        <div class="control-group">
            <label class="control-label wide-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="email"  name="email"
                     class="required-field"
                     data-bind="value: Email"  id="inputEmail"  
                    placeholder="Email">
            </div>
        </div>

        
    </section>   
   <section>
        <div class="control-group">
            <label class="control-label wide-label" for="inputPassword">New Password</label>
            <div class="controls">
                <input type="password" 
                    class="required-field"
                    id="newPassword" name="newPassword"
                    data-bind="value: password"  placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label wide-label" for="inputRepeatPassword">Repeat New Password</label>
            <div class="controls ">
                <input type="password"  name="newPasswordRepeat"
                    class="required-field"
                    data-bind="value: passwordRepeat" id="inputRepeatPassword" placeholder="Password">
            </div>
        </div></section>
    
</article>