<Section id="create-3"  class="StepWrapper">
    <div class="span6 pull-left StepWrapper">
        <div>
          
            <div class="basicContainer">
                <h4>Remember:</h4>
                you won't be able to change images or text on your post so please make sure 
                                that everything is correct and click the "post" button. 
            </div>
            <div class="cpntrols" style="text-align: center">
                <button class="btn btn-primary btn-large .btn-block">I'm done, post my poll</button>
                <div class="clear"></div>

            </div>
        </div>
    </div>

     <div  class="unstyled">
         <div id="pollPreview"  class="pollItem outerShadow "></div>
    </div>

    

</Section>
