<section class="splash-center">
    <div id="logo" class="pull-left">
       <a class="brand" data-bind="attr: { href: homeUrl() }">
                <img src="DesktopModules/SocialPolls/Images/thvLogoBlack.png" />
            </a>
    </div>z
    <div class="pull-right">
        <span>
            <a href="#" id="viewPolls">view ThingVote as a guest</a></span>
        <span>
            <a id="RegisterLink" data-bind="click: signup"
                class="btn btn-primary">SIGN IN</a>
        </span>
    </div>
</section>
