<div id="LoginForm">
    <div class="login-header">
        <h4>login to your account</h4>
        <small>Make decisions with your friends</small>
    </div>
    <div class="control-group">
        <label for="inputEmail" class="control-label">Email</label>
        <div class="controls">[DNN_TEXT_USERNAME]</div>
    </div>
    <div class="control-group">
        <label for="inputPassword" class="control-label">Password</label>
        <div class="controls">[DNN_TEXT_PASSWORD]</div>
    </div>
    <div class="control-group hide">
        <div class="controls">
            <label class="checkbox">[DNN_CHECKBOX_REMEBER_ME]</label>
        </div>
    </div>
    <ul class="unstyled-horizontal">
        <li>[DNN_SEND_PASSWORD_BUTTON]</li>
        <li class="login">[DNN_LOGIN_BUTTON]</li>
    </ul>
</div>
<div id="SocialLogin">
    <div class="login-header">
        <h4>social media login</h4>
    </div>
    <div class="control-group" id="FacebookLogin">
        <div class="controls">[DNN_FACEBOOK]</div>
    </div>
    <div class="control-group" id="TwitterLogin">
        <div class="controls">[DNN_TWITTER]</div>
    </div>
    <small>we wont use your information</small>
</div>
