.captioncontainer
{
	position:relative;
}

.captioncontainer .caption
{
	position:absolute;
	border:1px dashed #fff;
	color:#fff;
	font-size:15px;
}

.captioncontainer .caption >div
{
	width:100%;
	height:100%;
}
